@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #10185c;
    --foreground: #c2d4eb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 auto;
  min-width: unset;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: contain;
}
